<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">

  <title>dungeon of doom</title>
</head>
<style>
body {
  color: white;
  background-color: black;
  font-family: 'Yeon Sung', cursive;
}
  nav {
	height: 85px;
	border-bottom: solid rgb(203, 84, 24);
}

nav h1 {
	font-size: 40px;
	margin: 20px;
	/* margin-top: 20px; */
	display: inline-block;
  
}

 a {
	color:rgb(203, 84, 24);
	text-decoration: none;
	margin: 10px;
  padding: 12px;
  
	/* margin-top: 30px; */

}

a:hover {
  color: #fff;
}



button {
  background: black;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  border-radius: 11px;
  padding: 20px;
  border: solid 2px #fff;
}

button:hover {
  border: solid 2px rgb(203, 84, 24);
}

h1 {
  text-align: center;
}

.selector {
  margin: auto;
  text-align: center;
  border-radius: 11px;
}

.container {
  text-align: center;
}
</style>
<nav>
  <!-- <a class="menu-icon" href="#">&#9776;</a> -->

  <h1>D&D.io</h1>
  
</nav>
<body>
  <h1>Welcome to My D&D page</h1>

 <div class="container">
    <br>
    <button><a href="/signUp">Create an Account</a></button>
    <br>
    <button><a href="/logIn">Log In</a></button>
 </div>
  
 
  


  <div class="selector">
   
    <a class="nav-buttons" href="/allChars">View All Characters </a>
    
    <!-- <button><a class="nav-buttons" href="/createChar">Create</a></button> -->
  </div>

</body>
</html>